.container {
    background-color: #cfe8fc;
    height: 80vh;
    display: block;
    padding: 20px 33px;
}


.table-apps-container {
    display: block;
    background-color: khaki;
    height: 300px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }