.simple-theme {


  /* */
  .react-scrollable-container {
    .react-scrollbar {
      .react-scrollbar-track {
        background-color: gray;
        &:hover {
          background-color: goldenrod;
        }
      }
      &.vertical {
        height: calc(100% - 50px);
        margin-top: 50px;
      }
    }
  }


  /* */
 



  /* */
  table {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background-color: snow;
    border-radius: 15px;
    width: fit-content;
    height: fit-content;

    thead {
      background-color: dodgerblue;
      border-radius: 15px 15px 0 0;
      color: mintcream;

      tr {
        th {
          .th-el-container {
            font-weight: bold;
            height: 100%;
            line-height: 50px;
          }

          .react-large-table-track {
           &.vertical{ border-right: solid 1px lightseagreen;}
          }
        }
      }
    }

    tbody {
      tr {
        &.odd {
          background-color: lightcyan;
        }
        td {
        }
      }
    }
  }

  /* */
  .simple-theme-cell {
    display: block;
    border-bottom: solid 1px lightblue;
    height: calc(100% - 1px);
    padding: 0 5px;
    text-align: center;
    color: darkolivegreen;
    line-height: 35px;

    &.align-right {
      text-align: right;
    }

    &.align-left {
      text-align: left;
    }

    &.align-center {
      text-align: center;
    }
  }
}

.table-apps-container {
  display: block;
  background-color: ghostwhite;
  height: 300px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  resize: both;
}
